@{
  Layout="Shared/_Layout.cshtml";
}
<div class="row scoot">

  <h1 class="addresslist">@Model.GetName()</h1>
  <p class="addresstext">@Model.GetStreet()</p>
  <p class="addresstext">@Model.GetCity(), @Model.GetState() @Model.GetZip()</p>

  <p id="spacebutton"><a href="/addresses/new" class="links">Add another address</a></p>
  <p><a href="/" class="links">View all addresses</a></p>
</div>
<!--
<form action="/addresses/new" method="post">
  <button type="submit" name="button" class="btn btn-success">Add another address</button>
</form>
<form action="/" method="post">
  <button type="submit" name="button" class="btn btn-warning">View all addresses</button>
</form> -->
