<h1>@Model.GetName()</h1>
<p>@Model.GetStreet()</p>
<p>@Model.GetCity(), @Model.GetState() @Model.GetZip()</p>

<p><a href="/addresses/new">Add another address</a></p>
<p><a href="/">View all addresses</a></p>
